.form-input {
    margin-bottom: 1rem; 
}

.form-label {
    display: block;
    font-size: 0.875rem; 
    font-weight: 500; 
    color: #151603; /* Changed */
    margin-bottom: 0.25rem;
}

.input-box {
    width: 100%; 
    padding: 0.5rem 1rem; 
    background: #FEFEFA;
    /* Changed */
    border: 1px solid #7d8332; /* Changed */
    border-radius: 0.5rem; 
    outline: none;
    box-sizing: border-box; 
    transition: box-shadow 0.2s ease; 
}

.input-box:focus {
    border-color: #CBE220;
    /* Changed */
    box-shadow: 0 0 0 2px rgba(203, 226, 32, 0.4);
    /* Changed */
}