.permission-mod-page {
    padding: 1rem;
}

.filter-box {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: #FEFEFA;
    border-radius: 1rem;
    border: 1px solid #7d8332;
}

.filter-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #151603;
    margin-bottom: 1rem;
}

.filter-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.section-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #151603;
    margin-bottom: 1rem;
}

.table-container {
    overflow-x: auto;
    border: 1px solid #7d8332;
    border-radius: 0.5rem;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FEFEFA;
}

.data-table th, .data-table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #7d8332;
}

.selected-row {
    background-color: #EBF374;
}

.permission-controls {
    margin-top: 2rem;
}

.permission-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary {
    background-color: #CBE220;
    color: #151603;
    border: 1px solid #CBE220;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #b9d01f;
    border-color: #b9d01f;
}

.btn-secondary {
    background-color: #56E9B3;
    color: #151603;
    border: 1px solid #EBF374;
}

.btn-secondary:hover {
    background-color: #49cba1;
}

.btn-selected {
    background-color: #a8b81c; /* A darker shade to indicate selection */
    color: #FEFEFA;
    border: 1px solid #a8b81c;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn-confirm {
    background-color: #CBE220;
    color: #151603;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-confirm:hover {
    background-color: #b9d01f;
}

.content-inner{
    position: relative;
    left: 2.8rem;
    top: -2.5rem;
}
